@page
<div class="container">
  <div class="row">
    <div class="col-6">
      Enter Username: <input type="text" id="username" />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <input type="button" id="joinGame" value="Join Game!" />
    </div>
  </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Player/lobbyInterface.js"></script>
