@page
<div>
    <div id="lobbyInfo">
    <h1>Lobby:</h1>
    <h4>Please Connect to the following address on your mobile device:</h4>
    <h4>https://localhost:5001/PollResults</h4>
    <p>When Ready, click Start:</p>
    <button id="start">Start!</button>
    </div>
    <div id="users">
    <ul id="joinedUsers"></ul>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/resultsLobby.js"></script>