@page
<div class="container">
    <div class="row">
        <div class="col-6">
            User: <input type="text" id="userInput" />
            <!--
                <br />
                Message...<input type="text" id="messageInput" />
            -->
        </div>
        <div class="col-6">&nbsp;</div>
    </div>
    <div class="row">POLL: Who said "I love you" first and meant it?&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <input type="radio" name="myResponse" id="responseHim" value="He Did" />
            <label for="responseHim">He did!</label>
            <br />
            <input type="radio" name="myResponse" id="responseHer" value="She Did" />
            <label for="responseHer">She did!</label>
            <div id="bar-chart-horizontal"></div>
            <div class="col-12">
                <input type="button" id="sendButton" value="Vote Now" />
                <hr />
            </div>

        </div>
    </div>

    <hr />
    <div class="row">POLL: Who said "You smell" first and meant it?&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <input type="radio" name="myResponse" id="responseHim" value="He Did" />
            <label for="responseHim">He did!</label>
            <br />
            <input type="radio" name="myResponse" id="responseHer" value="She Did" />
            <label for="responseHer">She did!</label>
            <div id="bar-chart-horizontal"></div>
            <div class="col-12">
                <input type="button" id="sendButton" value="Vote Now" />
                <hr />
            </div>

        </div>
    </div>

    <hr />
    <div class="row">POLL: Who cooks most and meant it?&nbsp;</div>
    <div class="row">
        <div class="col-12">

            <input type="radio" name="myResponse" id="responseHim" value="He Did" />
            <label for="responseHim">He did!</label>
            <br />
            <input type="radio" name="myResponse" id="responseHer" value="She Did" />
            <label for="responseHer">She did!</label>
            <div id="bar-chart-horizontal"></div>
        </div>
    </div>    <div class="row">
        <div class="col-12">
            <input type="button" id="sendButton" value="Vote Now" />
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul id="messagesListChanged"></ul>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/poll.js"></script>
