@page
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">&nbsp;</div>
        </div>

        <div class="row">POLL: Who said "DO IT!!" first?&nbsp;</div>

        <div class="row" id="responsesContainer">
            <div class="col-12">
                <p id="responseHim">He Did: </p>
                <p id="responseHimCounter">0</p>
                <span id="responseHimBlock" />
                <p id="responseHer">She Did: </p>
                <p id="responseHerCounter">0</p>
                <span id="responseHerBlock" />
            </div>
            <div><canvas id="bar-chart-horizontal"></canvas></div>
        </div>

        <div class="row">
            <div class="col-12" />
        </div>

        <div class="row">
            <div class="col-2">
                <ul id="messagesList" />
            </div>
        </div>
    </div>
</body>
<link href="~/wwwroot/css/PollResults.css" rel="stylesheet" type="text/css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="~/js/pollResults.js"></script>
