@page
<div class="container">
    <div class="row">
        <div class="col-6">&nbsp;</div>
    </div>
    <div class="row">POLL: Who is your Captain now?&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <!-- input type="radio" name="group1" id="r1" value="1" /><label for="r1"> button one</label>-->
                <p id="captainMarvel">Captain America: </p> <p id="captainMarvelCounter"></p>
                <span id="captainMarvelBlock"></span>

                <p id="captainAmerica">Captain America: </p><p id="captainAmericaCounter"></p>
                <span id="captainAmericaBlock"></span>
            
                <p id="captainMe">Captain Me: </p><p id="captainMeCounter"></p>
                <span id="captainMeBlock"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/pollResults.js"></script>